body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

#resumo {
    font-size: 22px;
    background-color: #DDD;
    border: 1px;
    padding: 30px;
    max-width: 600px;
    line-height: 1.6;
    border-radius: 10px;
}

/* Botão Voltar */

.botao-voltar {
    display: inline-block;
    margin-top: 30px;
    background-color: #3e3e3e;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
}

.botao-voltar:hover {
    background-color: #5f5f5f;
}

